*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
.container-fluid{
	width: 100%;
	float: left;
	}



.container{
	width: 1200px;
	margin: auto;
}



.row{
	width: 100%;
	float: left;
	display: flex;
}
.col{
	width: 100%;
	float: left;

}
#header .bg-image{
	width: 100%; 
	float: left;
	background: url(./image/img.jpg);
	background-size: cover;
	padding: 20px 100px;
	
	
}


#header .logo{
	width: 100%; 
	float: left;

}
#header .logo span{
     font-size: 20px;

}

#header .logo p{
   font-size: 12px;
   margin-bottom: 20px;

}

#header .icon{
	width: 100%;
	float: left;
	
	font-size: 15px;

	display: flex;


}
#header .icon i{
	font-size: 20px;
	
}
#header .icon-content{
	width: 100%;
	float: left;
	text-align: right ;

}

#header .head-icon{
	  font-size: 30px;

	 
}



#header .navbar{
	width: 100%;
	float: left;
	margin-bottom: 100px;
}

#header .navbar ul li{
	display: inline-block;
	list-style: none;
}

#header .navbar a{
	text-decoration: none;
	color: black;
	margin-left: 20px;
	padding-right: 20px;

}



#header-content.span{
	margin-top: 100px;

}

#header-content.strong h2{
    font-size: 50px;
}

#about .about-image{
	width: 100%;
	float: left;
}
#about .about-image img{
	width: 100%;
	float: left;
}
